<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.BoardMapper">

	<!-- Notice 총 개수 구하기 -->
	<select id="getNoticeTotalCnt" resultType="Integer">
	select count(*) from post_mng where pst_gb = '002'
	</select>

	<!-- Notice 가져오기 -->
	<select id="getNoticeList" resultType="BoardDTO">
	select * from post_mng where pst_gb = '002'  
	order by pst_no desc
	limit #{startIndex}, #{cntPerPage}
 	
	</select>
	
	<!-- 해당번호에 맞는 공지 글 가져오기 -->
	<select id="getNoticeInfo" resultType="BoardDTO">
	select * from post_mng where pst_no = #{no}
	</select>
	
	<!-- 해당번호의 공지글 1 추가 -->
	<update id="addNoticeHit">
	update post_mng set hit = hit + 1 where pst_no = #{no}
	</update>
	
	<!-- 공지글 검색하기 -->
	<select id="searchNotice" resultType="BoardDTO">
	select * from post_mng where pst_ttl like CONCAT('%', #{search}, '%') and 
	pst_gb = '002'
	</select>

	<!-- 1:1문의 등록 -->
	<insert id="csInsert" parameterType="csDTO">
		INSERT INTO cs_master(user_id, cs_code, cs_dt, cs_ttl, cs_con)
		VALUES(#{user_id}, #{cs_code}, now(), #{cs_ttl}, #{cs_con}) 
	</insert>

	<select id="csInfo" resultType="CsDTO">
	 SELECT * FROM cs_master as cm, cs_reply as rp
	WHERE cs_no = #{cs_no}
	and cm.cs_no = rp.cs_no 
	
	</select>	
	
	<!-- 1:1문의 기간별 조회하기  -->
<select id="dateSearch" resultType="CsDTO">
    SELECT * FROM cs_master
        WHERE user_id = #{user_id}
        <![CDATA[
        AND cs_dt >= DATE_FORMAT(#{stt_ymd}, '%Y%m%d')
        AND cs_dt < DATE_ADD(DATE_FORMAT(#{end_ymd}, '%Y%m%d'),INTERVAL +1 DAY)
      ]]>
      ORDER BY
cs_no DESC
LIMIT #{pageDTO.startIndex}, #{pageDTO.cntPerPage}
</select>

<!-- 날짜별로 검색해서 가져온 리스트 개수 세기  -->
<select id="getCount" resultType="Integer">
SELECT count(*) FROM cs_master
WHERE user_id = #{user_id}
<![CDATA[
AND cs_dt >= DATE_FORMAT(#{stt_ymd}, '%Y%m%d')
AND cs_dt < DATE_ADD(DATE_FORMAT(#{end_ymd}, '%Y%m%d'),INTERVAL +1 DAY)
]]>
</select>
	

</mapper>