<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.BoardMapper">

	<!-- 1:1문의 등록 -->
	<insert id="csInsert" parameterType="csDTO">
		INSERT INTO cs_master(user_id, cs_title, cs_con)
		VALUES(#{user_id},#{cs_title},#{cs_con}) 
	</insert>
	
</mapper>