<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.admin.CustomerMapper">

    <!-- 페이징 처리를 위한 상품문의 총 갯수 가져오기  -->
	<select id="totalCnt" resultType="Integer">
	SELECT count(*) FROM cs_master
	</select>

	<!-- 리팩토링 후 -->
    <select id="csList" resultType="CsDTO">	 	

		select *
		from cs_master
		 as cm, cmmn_cd as cmcd
		where cm.cs_code = cmcd.item_cd
		and cmcd.cm_cd = 300
		<if test="cs_code !='ALL'">
			and	cm.cs_code = #{cs_code}
		</if>	
		<if test="proc_sts !='proc_all'">
			and	cm.proc_sts= #{proc_sts}
		</if>
      	ORDER BY cs_no DESC

		LIMIT #{pageDto.startIndex},
		#{pageDto.cntPerPage}       
    </select>
    
     <select id="csInfo" resultType="CsDTO">
	  	<!-- select * from cs_master left outer join cmmn_cd on cs_master.cs_code = cmmn_cd.item_cd
		where cs_master.cs_no = #{cs_no} -->
		<if test='proc_sts == "1"'>
			select * 
			from cs_master as cm, cmmn_cd as cmcd
			where 1=1
			and cmcd.cm_cd = 300
			and cm.cs_code = cmcd.item_cd
			and cm.cs_no = #{cs_no} 
		</if>
		<if test='proc_sts == "2"'>
			select * 
			from cs_master as cm, cmmn_cd as cmcd, cs_reply as cr
			where 1=1
			and cmcd.cm_cd = 300
			and cm.cs_code = cmcd.item_cd
			and cm.cs_no = #{cs_no}			
			and cr.cs_no = #{cs_no}
		</if>	
  	</select>
  	
  	<update id="stsUpdate">
  		update cs_master set proc_sts = #{proc_sts}, sts_dt = now()
  		where cs_no = #{cs_no}
  	</update>
  	
 	<insert id="csReply">
	  	insert into cs_reply(cs_no, csre_con, proc_id) 
	  	VALUES(#{cs_no}, #{csre_con}, #{proc_id})
    </insert>
    
    <update id="modifyReply">
    	update cs_reply set csre_con=#{csre_con}, proc_dt= now() where cs_no = #{cs_no}
    </update>
   
</mapper>