<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.admin.CustomerMapper">

	<select id="csList" resultType="CsDTO">
	 	select * from cs_master
	 	where 1=1
	
        <if test="cs_code != 'ALL'">
            and cs_code = #{cs_code}
        </if>
        <if test="proc_sts != 'proc_all'">
            and proc_sts = #{proc_sts}
      </if>
    </select>
    
    <select id="csInfo" parameterType="Integer" resultType="CsDTO">
  	select * from cs_master left outer join cmmn_cd on cs_master.cs_code = cmmn_cd.item_cd
	where cs_master.cs_no = #{cs_code} 
  	</select>
  	
  	<select id="itemName" resultType="CsDTO">
  		select item_nm from cmmn_cd where item_cd = #{cs_code};
  	</select>
    
</mapper>