<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.MyPageMapper">


<!-- 회원 정보 가져오기 -->
<select id="getUserInfo" resultType="UserDTO">
select * from user_master where user_nm = #{username} 
</select>

<!-- 회원 정보 수정하기 -->
<update id="userInfoUpdate">
update user_master set user_home = #{user_home}, user_phone = #{user_phone}, user_email = #{user_email},
 zipcode = #{zipcode}, addr = #{addr}, addr_road = #{addr_road}, addr_detail = #{addr_detail} where user_no = #{user_no}   

</update>


</mapper>