<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.MyPageMapper">


<!-- 회원 정보 가져오기 -->
<select id="getUserInfo" resultType="UserDTO">
select * from user_master where user_nm = #{username} 
</select>

<!-- 회원 정보 수정하기 -->
<update id="userInfoUpdate">
update user_master set user_home = #{user_home}, user_phone = #{user_phone}, user_email = #{user_email},
 zipcode = #{zipcode}, addr = #{addr}, addr_road = #{addr_road}, addr_detail = #{addr_detail} where user_no = #{user_no}   

</update>


<!-- 해당 아이디에 맞는 배송지 리스트 가져오기  -->
<select id="getAddrList" resultType="AddrDTO">
select * from addr_manage where user_id = #{id}
</select>

<!-- 배송지 추가하기 -->
<insert id="insertNewAddress">
insert into addr_manage(user_id, addr_nm, addr_nik, addr_tel, zipcode, addr, addr_detail, addr_dt, addr_road)
values(#{user_id}, #{addr_nm}, #{addr_nik}, #{addr_tel}, #{zipcode}, #{addr}, #{addr_detail}, now(), #{addr_road}) 
</insert>

<!-- 배송지 삭제하기  -->
<delete id="deleteAddress">
delete from addr_manage where addr_no = #{no}
</delete>

<!-- 배송지 정보 가져오기  -->
<select id="getAddrInfo" resultType="AddrDTO">
select * from addr_manage where addr_no = #{no}
</select>

<!-- 배송지 수정하기 -->
<update id="updateAddress">
update addr_manage set user_id = #{user_id}, addr_nm = #{addr_nm}, addr_gb = #{addr_gb}, addr_nik = #{addr_nik},
addr_tel = #{addr_tel}, zipcode = #{zipcode}, addr = #{addr}, addr_detail = #{addr_detail}, addr_dt = now(), 
addr_road = #{addr_road} where addr_no = #{addr_no}
</update>


<!-- 회원 아이디에 기본 배송지가 이미 있는지 확인 -->
<select id="checkAddress" resultType="String" >
select addr_no from addr_manage where user_id = #{id} and addr_gb = '기본배송지'
</select>

<!--기본 배송지로 되어있던 주소번호의 주소는 기본배송지 지우기 -->
<update id="resetAddress">
update addr_manage set addr_gb = '' where addr_no = #{addressChecked}
</update>


<!-- 해당 번호에 맞는 주소지를 기본 배송지로 설정하기 -->
<update id="updateDefaultAddress">
update addr_manage set addr_gb = '기본배송지' where addr_no = #{addrNo}
</update>

<!-- 해당 아이디의 배송지 개수 확인하기 -->
<select id="countAddress" resultType="Integer">
select count(*) from addr_manage where user_id = #{id}
</select>

<!--해당 아이디의 주문 건수 가져오기  -->
<select id="getOrderNum" resultType="Integer">
select count(*) from order_master where user_id = #{id}
</select>


<!-- 해당 아이디에 맞는 주문내역 가져오기 -->
<select id="getOrderList" resultType="OrderDTO">
SELECT * 
FROM order_master
WHERE
user_id = #{user_id}
ORDER BY
order_no DESC
LIMIT #{pageDTO.startIndex}, #{pageDTO.cntPerPage}
</select>

<!-- 해당 아이디의 1:1문의 건수 가져오기 -->
<select id="getTotalQuestion" resultType="Integer">
select count(*) from cs_master where user_id = #{id}
</select>

<!-- 해당 아이디의 1:1문의 리스트 가져오기 -->
<select id="getCsList" resultType="CsDTO">
select * from cs_master
where user_id = #{user_id}
ORDER BY
cs_no DESC
LIMIT #{pageDTO.startIndex}, #{pageDTO.cntPerPage}
</select>

</mapper>