<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.admin.ProductMapper">

<!-- 상품 등록 -->
	<insert id="prodRegister" parameterType="Map">
		INSERT INTO prod_master( ctgry_no, prod_nm , main_img , price , point, qty, dc_price, proc_id)
		VALUES( #{ctgry_no}, #{prod_nm} , #{main_img} , #{price} , #{point} , #{qty} , #{dc_price} , 'manager' )
	</insert>

<!-- 상품 리스트 -->
	<select id="prodList" resultType="ProductDTO">
	SELECT * FROM prod_master
	</select>
	
	<!-- 수정 할 상품 정보 가져오기-->
	<select id="getListByNo" resultType="ProductDTO">
	SELECT * FROM prod_master
	WHERE prod_no = #{no}
	</select>
	
	<!-- 상품 수정 처리 -->
	<update id="prodUpdate">
	UPDATE prod_master SET
	ctgry_no = #{ctgry_no},
	prod_nm = #{prod_nm},
	main_img = #{main_img},
	price = #{price},
	point = #{point},
	qty = #{qty},
	dc_price = #{dc_price},
	use_yn = #{use_yn},
	mod_dt = now()
	WHERE prod_no = #{prod_no}
	
	</update>
	
	<!--  상품 삭제 -->
	<delete id="prodDelete">
	DELETE FROM prod_master
	WHERE prod_no = #{prod_no}
	</delete>

</mapper>