<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.admin.QnaMapper">

<!-- 페이징 처리를 위한 상품문의 총 갯수 가져오기  -->
<select id="totalCnt" resultType="Integer">
SELECT count(*) FROM qna_master
</select>

<select id="qnaList" resultType="QnaDTO">
SELECT * FROM qna_master
AS qm, cmmn_cd AS cmcd
		WHERE qm.qna_code = cmcd.item_cd
		AND cmcd.cm_cd = 400
		<if test="cs_code !='ALL'">
			AND	qm.qna_code = #{cs_code}
		</if>	
		<if test="proc_sts !='proc_all'">
			AND	qm.proc_sts= #{proc_sts}
		</if>
ORDER BY qna_no DESC
LIMIT #{pagedto.startIndex},
#{pagedto.cntPerPage}
</select>



</mapper>