<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.team.mapper.UserQnAMapper">

<!-- 상품문의 등록하기  -->
<insert id="QnaRegister"> 
INSERT INTO qna_master (qna_code, prod_no, qna_ttl, qna_con, user_id)
VALUES
(#{qna_code}, 1, #{qna_ttl}, #{qna_con}, #{user_id})
</insert>

<!-- 상품문의 개수 가져오기  -->
<select id="QnaCount" resultType="Integer">
SELECT count(*) FROM qna_master
WHERE
user_id = #{user_id}
</select>

<!-- 유저 아이디별 상품문의 가져오기 -->
<select id="getQnaList" resultType="QnaDTO">
SELECT * FROM qna_master
WHERE
user_id = #{user_id}
ORDER BY
qna_no DESC
LIMIT #{pageDTO.startIndex}, #{pageDTO.cntPerPage}
</select>

<!-- 상품문의 상세보기  -->
<select id="QnaInfo" resultType="QnaDTO">
SELECT * FROM qna_master
WHERE
qna_no = #{qna_no}
</select>

<!-- 주문 조회에서 날짜별로 조회하기  -->
<select id="dateSearch" resultType="QnaDTO">
    SELECT * FROM qna_master
        WHERE user_id = #{user_id}
        <![CDATA[
        AND qna_dt >= DATE_FORMAT(#{stt_ymd}, '%Y%m%d')
        AND qna_dt < DATE_ADD(DATE_FORMAT(#{end_ymd}, '%Y%m%d'),INTERVAL +1 DAY)
      ]]>
      ORDER BY
qna_no DESC
LIMIT #{pageDTO.startIndex}, #{pageDTO.cntPerPage}
</select>

<!-- 날짜별로 검색해서 가져온 리스트 개수 세기  -->
<select id="getCount" resultType="Integer">
SELECT count(*) FROM qna_master
WHERE user_id = #{user_id}
<![CDATA[
AND qna_dt >= DATE_FORMAT(#{stt_ymd}, '%Y%m%d')
AND qna_dt < DATE_ADD(DATE_FORMAT(#{end_ymd}, '%Y%m%d'),INTERVAL +1 DAY)
]]>
</select>

</mapper>