@charset "utf-8";


#imgArea{
	margin-top:300px;
	margin-left:30%;
	
}

#prodInfoArea{
	margin-top:300px;
}

#detailImg{
	margin-left:25%;
}

img{
	cursor: pointer;
}



#mainImg{
	width:400px;
	height:400px;
}

#prodInfoArea{
	margin-left:200px;
}

#prodName{
	font-size: 35px;
}