@charset "utf-8";



section{
	
	margin-left:30%;
	margin-top:300px;
	
}

img{
	cursor: pointer;
}



#mainImg{
	width:400px;
	height:400px;
}

#prodInfoArea{
	margin-left:200px;
}

#prodName{
	font-size: 35px;
}