@charset "utf-8";


#imgArea{
	margin-top:200px;
	margin-left:22.5%;
	
}

#prodInfoArea{
	margin-top:200px;
}

#detailImg{
	margin-left:22.5%;
}


img{
	cursor: pointer;
}



#mainImg{
	width:400px;
	height:400px;
}

#prodInfoArea{
	margin-left:100px;
}

#prodName{
	font-size: 35px;
}